# Virtual host
# Sets: hostname, apache VirtualHost servername, and Apache docroot at /srv/www/vhosts/$vhost
$vhost = "myproject"

# IP Address
$ip = "192.168.10.40"

# Use NFS
$use_nfs = false

# Base box
$base_box = "http://puppet-vagrant-boxes.puppetlabs.com/centos-65-x64-virtualbox-puppet.box"

# Install NPM packages for project?
# This relies on packages.json found at /vagrant/app/Resources
$npm = true